/* Цвета

**шрифт**
золотистый - #f7a005
темно-синий - #0E1A35
**фон**
белый - #ffffff
серый - #f2f2f2
светло-серый - #f9fafc
*/

body {
	font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    color: #293337;
    font-size: 16px;
}
h1 {
    font-size: 26px;  
}

/*=====НАВИГАЦИЯ И БАННЕР=====*/
.nav-block {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.nav-links {
    display: inline-block;
}
.nav-links a {
    color: #fff;
    text-transform: uppercase;
}
.theme-toggle {
    margin: 30px 0;
}
.modal-link {
    padding: 30px;
}
.modal-link a {
    cursor: pointer;
}
.modal-backdrop {
    z-index: 0;
}
.banner {
    height: 100vh;
    background-image: url("../img/banner0.jpg");    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.banner-heading {
    color: #f7a005;
    font-size: 48px;
    display: inline-block;
    margin-top: 10%;
    letter-spacing: 1px;
}

.banner-description {
    color: #fff;
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
    font-weight: 100;
    letter-spacing: 1px;
}
.fullNavOverlay {
    z-index: 1;
}

/*======ОСНОВНЫЕ БЛОКИ=====*/
.main-block {
    height: 600px;
    position: relative;
    background-color: #fff;
    transition: box-shadow .5s ease;
}
.main-block:hover {
    box-shadow: 0 12px 32px rgba(0,0,0,.35);
    z-index: 9;
}
.block-content {
    height: 70%;
}
.block-description {
    text-align: center;
    padding:10px 30px;
}
.block-heading {  
    text-align: center;
}
.block-heading a {
    color: #0E1A35;
}
.block-heading a:hover {
    text-decoration: none;
    color: inherit;
}
.lb-library {
    background-color: #f9fafc;
}
.lb-library {
    background-image: url(../img/lb-lib1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.lb-expedition {
    background-image: url(../img/zatmen1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.lb-art {
    background-color: #f9fafc;
    background-image: url(../img/lobachevsky1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

/*=====СЛАЙДЕР BOOTSTRAP ДЛЯ ЦИТАТ=====*/
.carousel {
    margin-top: 25%;
}
.carousel-inner .item {
    padding: 10px 100px;
    text-align: center;
    font-size: 1.3em;
}
.item p {
    padding-top: 10px;
}
.item p:before {
    font-family: FontAwesome;
    content: '\f10d';
    position: absolute;
    top: -5px;
    left: 15%;
}
.item p:after {
    font-family: FontAwesome;
    content: '\f10e';
    position: absolute;
    bottom: -5px;
    right: 15%;
}

/*=====ЭФФЕКТ ПАРАЛЛЕЛЬНЫХ ПОЛОС В ЗАГОЛОВКАХ=====*/
.pl-effect a {
    padding: 10px 20px;
    position: relative;
}

.pl-effect a {
    height: 45px;
    line-height: 45px;
}

.pl-effect a::before,
.pl-effect a::after {
    position: absolute;
    width: 47px;
    height: 2px;
    background: #f7a005;
    content: '';
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
}

.pl-effect a::before {
    top: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
}

.pl-effect a::after {
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.pl-effect a:hover::before,
.pl-effect a:hover::after,
.pl-effect a:focus::before,
.pl-effect a:focus::after {
    opacity: 1;
}

.pl-effect a:hover::before,
.pl-effect a:focus::before {
    left: 50%;
    -webkit-transform: rotate(0deg) translateX(-50%);
    -moz-transform: rotate(0deg) translateX(-50%);
    transform: rotate(0deg) translateX(-50%);
}

.pl-effect a:hover::after,
.pl-effect a:focus::after {
    right: 50%;
    -webkit-transform: rotate(0deg) translateX(50%);
    -moz-transform: rotate(0deg) translateX(50%);
    transform: rotate(0deg) translateX(50%);
}


/*=====БИБЛИОТЕКА ВРЕМЕН ЛОБАЧЕВСКОГО=====*/
.page-title {
	color: #000;
	    margin-bottom: 60px;
	    padding-top: 10%
}
.page-title:after {
	content: '';
    display: block;
    width: 36px;
    height: 5px;
    background: #000;
    position: absolute;
    left: 50%;
    margin-left: -18px;
    margin-top: 5px;
}
.image-box img {
	padding:10px;
}
.image-section {
	position: relative;
	display: inline-block;
}
.image-hover-effect {
	position: absolute;
    left: 0;
    top: 0;
    /*width: 100%;*/
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.71);
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.image-section:hover .image-hover-effect {
	opacity: 1;
}
.image-hover-effect span {
	bottom: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    padding: 20px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    margin: auto;
    text-align: center;
    height: 40px;
}
.banner-wrap {
	height: 354px;
	margin-bottom: 120px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
#hid {
    display: none;
}

/*=====ФУТЕР=====*/
.copright {
    padding: 40px 10px;
}

/*=====БИБЛИОТЕКА ВРЕМЕН ЛОБАЧЕВСКОГО=====*/

/*=====ТРУДЫ ЛОБАЧЕВСКОГО=====*/




/*=====ЗНАМЕНИТЫЕ ВЫСКАЗЫВАНИЯ ЛОБАЧЕВСКОГО=====*/
.banner-sm {
    height: 400px;
    position: relative;
    background-color: #0E1A35;
}
.banner-sm h1{
    color: #f7a005;
    font-weight: 300;
    margin-top: 10%;
    padding: 40px 0;
}
.banner-quotes {
    background-image: url('../img/book1.jpg');
    background-attachment: fixed;
}
.quotes-wrapper {
    background-color: #ffffff;
}
.quotes-block {
    transition: box-shadow .5s ease;
    padding: 30px;
}
.quotes-block:hover {
    box-shadow: 0 12px 32px rgba(0,0,0,.35);
    z-index: 9;
}
.quotes-heading {
    font-weight: 300;
    margin-bottom: 45px;
}

/*=====ЛОБАЧЕВСКИЙ О СОЛНЕЧНОМ ЗАТМЕНИИ=====*/
.banner-expedition {
    background-image: url('../img/zatmen4.jpg');
    background-attachment: fixed;
}
.expedition-block {
    background-color: #ffffff;
    padding: 30px;
}
.block-intro {
    font-size: 1.5em;
    position: relative;
    padding: 40px 40px 10px 40px;
}
.block-intro:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 47px;
    background: #f7a005;
    content: '';
    -moz-transition: all 0.3s;
    pointer-events: none;
    top: 40px;
    left: 0;
}
.intro-description {
    padding: 0 40px 15px 40px;
}
.lb-phrase {
    color: #f7a005;
    font-style: italic;
}


/*=====медиа запросы=====*/
@media screen and (max-width: 1200px) {
    h1 {
        font-size:20px;
    }
    .banner-heading {
        font-size: 32px;
        margin-top: 30%;
    } 
    .banner-description {
        font-size: 1em;
    }
    .carousel-inner .item {
        font-size: 1em;
    }
    .block-intro {
        font-size: 1em;
    }
}